
<nav class='navbar'>
    <div class='nav-links left'>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Αρχική</a>
        <a routerLink="/map" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Χάρτης</a>
    </div>
    <div class='nav-links right'>

        <div *ngIf="!auth.isLoggedIn()">
          <a routerLink="/register" routerLinkActive="active">Εγγραφή</a>
          <a routerLink="/login" routerLinkActive="active">Σύνδεση</a>
        </div>
        <div *ngIf="auth.isLoggedIn()">
          <a routerLink="/panel">Διαχείρηση</a>
          <a (click)="logout()">Αποσύνδεση</a>
        </div>
    </div>
</nav>